<!DOCTYPE html>
<html>
<body>
	
	<h1 style="color:#993300">Signup user</h1>   
    		
<table border="1">
	<tr>
	<td><a href="https://api.singly.com/oauth/authenticate?client_id= 85899d78a8e2a4df04ac731ea67b212c &redirect_uri=http://localhost/auth/singly/auth/callback &service=twitter">
    <%= image_tag("signup.png", :alt => "rss feed") %></a></td>
    
	<td><a href="https://api.singly.com/oauth/authenticate?client_id= 85899d78a8e2a4df04ac731ea67b212c &redirect_uri=http://localhost/auth/singly/auth/callback &service=facebook">
    <%= image_tag("Lnup.png", :alt => "rss feed") %></a></td>
   </tr>
   <tr>
    <td><a href="https://api.singly.com/oauth/authenticate?client_id= 85899d78a8e2a4df04ac731ea67b212c &redirect_uri=http://localhost/auth/singly/auth/callback &service=facebook">
    <%= image_tag("Fbup.png", :alt => "rss feed") %></a></td>
    <td><a href="https://api.singly.com/oauth/authenticate?client_id= 85899d78a8e2a4df04ac731ea67b212c &redirect_uri=http://localhost/auth/singly/auth/callback &service=google">
    <%= image_tag("1.png", :alt => "rss feed") %></a></td>
    </tr>
    </table>
</body>
</html>
